@keyframes anime{
	from{
		transform : scale( 0 );
	}
	to{
		transform : scale( 1 ) ;
	}
}

@keyframes anime1{
	from{
		transform : scale( 0 );
		opacity : 0 ;
	}
	to{
		transform : scale( 1 ) ;
		opacity : 1 ;
	}
}

div.container{
	position : absolute ;
	top : 0 ;
	left : 0 ;
	width : 100% ;
	height : 100% ;
	background-color : rgba( 10 , 10 , 45 , 1 ) ;
}

div.role{
	color : #fff ;
	margin-top : 90px ;
	padding-left : 20px ;
	padding-right : 20px ;
}

div.nb_boule_placer{
	color : #fff ;
	margin-top : 10px ;
	padding-left : 20px ;
	padding-right : 20px ;
}

div.score{
	width : 100% ;
	font-size : 18px ;
	margin-top : 20px ;
	padding-left : 20px ;
	padding-right : 20px ;
	float : right ;
	text-align : right ;
}

div.joueur1{
	color : rgba( 255 , 0 , 0 , 0.8 ) ;
	font-weight : bold ;
	margin-bottom : 20px ;
}

div.joueur2{
	color : rgba( 255 , 155 , 0 , 0.8 ) ;
	font-weight : bold ;
	margin-bottom : 20px ;
}

div.grid{
	margin-top : 0px ;
	box-shadow : 10px 5px 10px 1px rgba( 0 , 0 , 0 , 0.1 ) ;
	max-width : 500px ;
	max-height : 100% ;
	margin-left : auto ;
	margin-right : auto ;
	padding-left : 20px ;
}

div.line{
	width : 100% ;
	height : 50px ;
}

div.case{
	border : 1px solid rgba( 255 , 255 , 255 , 0.8 ) ;
	width : 45px ;
	height : 45px ;
	text-align : center ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	font-size : 11px ;
}

div.boule0{
	border : 1px solid rgba( 255 , 0 , 0 , 0.8 ) ;
	background-color : rgba( 255 , 0 , 0 , 0.8 ) ;
	width : 40px ;
	height : 40px ;
	border-radius : 50% ;
	box-shadow : 0px 0px 5px 1px rgba( 255 , 0 , 0 , 0.8 ) ;
	transition : all 250ms ;
	transform-origin : 0 , 0 ;
	transform : scale( 0 ) ;
	animation : 250ms anime forwards ;
}

div.boule1{
	border : 1px solid rgba( 255 , 155 , 0 , 0.8 ) ;
	background-color : rgba( 255 , 155 , 0 , 0.8 ) ;
	width : 40px ;
	height : 40px ;
	border-radius : 50% ;
	transition : all 250ms ;
	box-shadow : 0px 0px 5px 1px rgba( 255 , 155 , 0 , 0.8 ) ;
	transform-origin : 0 , 0 ;
	transform : scale( 0 ) ;
	animation : 250ms anime forwards ;
}

div.line,
div.lineBoule,
div.lineBoule_{
	display : flex ;
	max-width : 500px ;
}

div.header{
	display : block ;
	font-family : Arial , sans-serif ;
	font-size : 15px ;
	line-height : 1.6 ;
	color : #5f6062 ;
	box-sizing : border-box ;
	background-color : rgba( 10 , 10 , 45 , 0.8 ) ;
	position : fixed ;
	width  :100% ;
	top : 0 ;
	left : 0 ;
	max-height : 65px ;
	z-index : 2 ;
	border-bottom : 1px solid #fff ;
}

nav.header_navbar{
	z-index : 1000 ;
	margin : 0 ;
	padding : 0 ;
	min-height : 65px ;
	max-width : 970px ;
	margin-left : auto ;
	margin-right : auto ;
	padding-right : 15px ;
	padding-left : 15px ;
	display : block ;
	box-sizing : border-box ;
	font-family : Arial , sans-serif ;
	font-size : 15px ;
	line-height : 1.6 ;
	color : #5f6062 ;
}

div.header_navbar_{
	box-sizing : border-box ;
}

div.header_navbar_container{
	display : block ;
	box-sizing : border-box ;
	font-family : Arial , sans-serif ;
	font-size : 15px ;
	line-height : 1.6 ;
	color : #5f6062 ;
	clear : both ;
	min-height : 65px ;
	width : 100% ;
	display : flex ;
}

div.header_navbar_container_logo{
	display : inline-block ;
	vertical-align : middle ;
	float : none ;
	width : 25% ;
	position : relative ;
	min-height : 1px ;
	padding-left : 15px ;
	padding-right : 15px ;
	box-sizing : border-box ;
	margin-top : 7px ;
	display : flex ;
}

div.header_navbar_container_logo_{
	box-sizing : border-box ;
}

a{
	text-decoration : none ;
}

a.header_navbar_container_logo_link{
	outline : none ;
	cursor : pointer ;
	line-height : 1.6 ;
}

img.header_navbar_container_logo_link_img{
	max-width : 160px ;
	max-height : 50px ;
	float : left ;
	height : auto ;
	vertical-align : middle ;
	box-sizing : border-box ;
	margin-top : -2px ;
}


a{
	text-decoration : none ;
	cursor : pointer ;
	outline : none ;
}

div.header_navbar_container_menu_logo{
	position : absolute ;
	right : 0 ;
	min-height : 65px ;
	background-color : #fff ;
	width : 50px ;
	text-align : center ;
	display : flex ;
	justify-content: center ;
	align-items : center ;
	cursor : pointer ;
}

div.header_navbar_container_logo_search{
	width : 30px ;
	height : 65px ;
	margin-top : -10px ;
	display : flex ;
	align-items : center ;
	margin-left : 20px ;
	cursor : pointer ;
}

img.header_navbar_container_logo_search_img{
	width : 40px ;
	height : 40px ;
	margin-top : 15px ;
}

div.header_navbar_container_menu_close{
	position : absolute ;
	z-index : 100 ;
	right : 0 ;
	top : 0 ;
	min-height : 65px ;
	background-color : #fff ;
	width : 50px ;
	text-align : center ;
	display : flex ;
	justify-content: center ;
	align-items : center ;
	cursor : pointer ;
}

img.header_navbar_container_menu_logo_img{
	width : 100% ;
}

div.header_navbar_container_menu{
	transition : all 250ms ;
}

div.search{
	position : fixed ;
	z-index : 1 ;
	width : 100% ;
	top : 0 ;
	left : 0 ;
	height : 65px ;
	margin-top : 0px ;
	opacity : 0 ;
	transition : all 250ms ;
	box-shadow : 0px 5px 10px 1px rgba( 0 , 0 , 0 , 0.1 ) ;
}

div.search_container{
	display : flex ;
	justify-content : center ;
	padding : 10px ;
	padding-top : 15px ;
	background-color : rgba( 255 , 255 , 255 , 0.5 ) ;
}

input.search_container_input{
	padding : 10px ;
	width : 100% ;
	max-width : 500px ;
	border-radius : 7px ;
	border : 1px solid silver ;
	outline : none ;
}

div.whoStarted{
	position : fixed ;
	top : 0 ;
	left : 0 ;
	width : 100% ;
	height : 100% ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	background-color : rgba( 10 , 10 , 45 , 1 ) ; 
	z-index : -100000000000000000 ;
	opacity : 0 ;
	transform : scale( 0 ) ;
	transform-origin : 0 , 0 ;
	transition : all 500ms ;
}

div.tab{
	position : fixed ;
	top : 0 ;
	left : 0 ;
	width : 100% ;
	height : 100% ;
	display : flex ;
	justify-content : center ;
	align-items : center ;
	background-color : rgba( 10 , 10 , 45 , 1 ) ; 
	z-index : 1000 ;
	opacity : 0 ;
	transform : scale( 0 ) ;
	transform-origin : 0 , 0 ;
	transition : all 500ms ;
}
div.tab_infoJoueurs,
div.whoStarted_tab{
	max-height : 100% ;
	width : 100% ;
	max-width : 400px ;
	min-height : 300px ;
	background-color : #fff ;
	border-radius : 7px ;
	display : flex ;
	justify-content : center ;
}

h3.tab_infoJoueurs_container_title,
h3.whoStarted_tab_contain_title{
	margin-top : 20px ;
	margin-bottom : 30px ;
	text-align : center ;
	font-size : 30px ;
}

div.whoStarted_tab_contain{
	padding : 10px ;
}

div.tab_infoJoueurs_container_joueur,
div.whoStarted_tab_contain_joueur{
	margin-bottom : 20px ;
	margin-top : 10px ;
}

input{
	padding : 10px ;
	background-color : #fff ;
	border : 2px solid rgba( 0 , 0 , 0 , 0.2 ) ;
	border-radius : 7px ;
	font-weight : bold ;
	font-size : 19px ;
}

label.player2_text,
label.player1_text{
	font-weight : bold ;
	font-size : 22px ;
}

label.player2_text{
	color : rgba( 255 , 155 , 0 , 0.8 ) ;
}

label.player1_text{
	color : rgba( 255 , 0 , 0 , 0.8 ) ;
}

input#joueur1_input{
	color : rgba( 255 , 0 , 0 , 0.8 ) ;
}

input#joueur2_input{
	color : rgba( 255 , 155 , 0 , 0.8 ) ;
}

button.tab_infoJoueurs_container_button{
	width : 100% ;
	height : 50px ;
	border-radius : 7px ;
	border : 0px solid transparent ;
	background-color : rgba( 0 , 180 , 55 , 0.8 ) ;
	color : #fff ;
	font-weight : bold ;
	font-size : 22px ;
}

@media( min-width: 992px ){
	div.header_navbar_container_menu{
		display : inline-block ;
		vertical-align : middle ;
		float : none ;
		width : 75% ;
		position : relative ;
		padding-left : 15px ;
		padding-right : 15px ;
		opacity : 1 ;
		margin-left : 0% !important ;
	}

	div.header_navbar_container_menu_{
		display : block ;
		height : auto ;
		overflow : visible ;
		position : relative ;
		min-height : 65px ;
		max-height : 340px ;
		padding-right : 15px ;
		padding-left : 15px ;
		margin-top : 0px ;
		width : 100% ;
		transition : all 250ms ;
	}

	ul.header_navbar_container_menu_list{
		float : right ;
		white-space : nowrap ;
		position : relative ;
		margin-right : -15px ;
		padding : 0 ;
		margin : 0 ;
		line-height : 1.25 ;
		margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    padding-inline-start: 40px;
	    list-style : none ;
	    display : flex ;
	    transition : all 250ms ;
	}

	li.header_navbar_container_menu_list_element{
		display : inline-block ;
		float : none ;
		padding : 0 ;
		list-style : none ;
		white-space : nowrap ;
		transition : all 250ms ;
	}

	div.header_navbar_container_menu_list_element_title{
		font-size : 15px ;
		display : block ;
		padding : 15px 0 30px ;
		margin : 0 17px ;
		color : #fff ;
		cursor : pointer ;
		font-weight : normal ;
		line-height : 12px ;
		outline : none ;
		text-decoration : none ;
		box-sizing : border-box ;
		white-space : nowrap ;
		font-weight : bold ;
		letter-spacing : 0.5px ;
		max-width : 150px ;
		text-rendering : ellipsis ;
		text-overflow : ellipsis ;
		overflow : hidden ;
	}

	section.header_navbar_container_menu_list_element_body::before{
		visibility : visible ;
		display : block ;
		transition : all 250ms ;
		content : '' ;
		border-bottom: 10px solid rgba( 10 , 10 , 45 , 0.9 ) ;
	    border-left: 10px solid transparent ;
	    border-right: 10px solid transparent ;
	    top : -15px ;
	    left : 15px ;
	    height: 0;
	    position: absolute;
	    width: 0;
	    margin: 0 auto;
	    z-index: 999;
	}

	section.header_navbar_container_menu_list_element_body{
		transition : all 250ms ;
		width : auto ;
		max-width :  250px ;
		width : auto ;
		position : absolute ;
		left : auto ;
		top : 100% ;
		padding-top : 20px ;
		padding-right : 20px ;
		padding-left : 0px ;
		background-color : rgba( 10 , 10 , 45 , 0.6 ) ;
	    border-top: 6px solid rgba( 10 , 10 , 45 , 0.9 ) ;
	    border-right: 0;
	    border-bottom: 0;
	    border-left: 0;
	    border-radius: 3px;
	    float : left ;
	    list-style : none ;
	    font-size : 15px ;
	    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	    background-clip: padding-box;
	    white-space : nowrap ;
	    line-height : 1.25 ;
	    padding-bottom : 20px ;
	    opacity : 0 ;
	    visibility : hidden ;
	    transform : scaleY( 0 ) ;
	    transform-origin : 0 0 ;
	    list-style : none ;
	}

	ul.header_navbar_container_menu_list_element_body_list_element_body{
		white-space : nowrap ;
		margin : 0 ;
		padding : 0 ;
		list-style : none ;
	}

	li.header_navbar_container_menu_list_element_body_list_element{
		margin : 0 ;
		display : inline-block ;
		list-style : none ;
		box-sizing : border-box ;
		white-space : nowrap ;
		padding : 0 ;
		margin-left : -20px ;
	}

	span.header_navbar_container_menu_list_element_body_list_element_title{
		color : #fff ;
		font-weight : bold ;
		font-size : 20px ;
		line-height : 26px ;
		white-space : normal ;
		display : block ;
		margin-bottom : 10px ;
		padding-left : 0px ;
	}

	ul.header_navbar_container_menu_list_element_body_list_element_body{
		padding : 0 ;
		margin : 0 ;
		list-style : none ;
		line-height : 1.25 ;
		box-sizing : border-box ;
		white-space : nowrap ;
		overflow-y : scroll ;
		overflow-x : hidden ;
		max-height : 300px ;
		word-break : break-word ;
	}

	ul#listLangues,
	ul#moreInfo{
		overflow : hidden ;
	}

	a.pays_link,
	a.header_navbar_container_menu_list_element_body_list_element_body_li_a{
		font-size : 16px ;
		color : #fff ;
		padding : 5px 0px ;
		display : block ;
		line-height : 19px ;
		height : auto ;
		outline : none ;
	}

	li.pays,
	li.header_navbar_container_menu_list_element_body_list_element_body_li{
		width : 100% ;
		white-space : initial ;
		border-bottom : 1px solid rgba( 255 , 255 , 255 , 0.05 ) ;
		margin-bottom : 10px ;
		transition : all 250ms ;
	}

	li.pays:hover,
	li.header_navbar_container_menu_list_element_body_list_element_body_li:hover{
		background-color : rgba( 255 , 255 , 255 , 0.09 ) ;
	}

	span.pays_title{
		letter-spacing : 1px ;
		font-size : 15px ;
	}

	a.pays_link{
		
	}

	img.pays_img{
		width : 20px ;
		max-height : 20px ;
		margin-left : 10px ;
		margin-right : 2px ;
	}

	div.header_navbar_container_menu_logo,
	div.header_navbar_container_menu_close{
		opacity : 0 ;
	    visibility : hidden ;
	    transform : scaleY( 0 ) ;
	    transform-origin : 0 0 ;
	}

}

@media( max-width : 991px ){
	div.header_navbar_container_menu{
		position : fixed ;
		top : 0 ;
		left : 0 ;
		width : 100% ;
		height : 100% ;
		background-color : rgba( 10 , 10 , 45 , 0.9 ) ;
		overflow-y : scroll ;
		margin-left : 100% ;
		padding-top : 65px ;
	}

	div.header_navbar_container_menu_{
		display : block ;
		height : auto ;
		overflow : visible ;
		position : relative ;
		margin-top : 0px ;
		transition : all 250ms ;
	}

	ul.header_navbar_container_menu_list{
		position : relative ;
		padding : 0 ;
		margin : 0 ;
		line-height : 1.25 ;
	    list-style : none ;
	    display : block ;
	    transition : all 250ms ;
	}

	li.header_navbar_container_menu_list_element{
		padding : 0 ;
		list-style : none ;
		transition : all 250ms ;
	    border-top: 2px solid #fff ;

	}

	div.header_navbar_container_menu_list_element_title{
		font-size : 20px ;
		display : block ;
		padding : 20px 0 20px ;
		margin : 0 17px ;
		color : #FFF ;
		cursor : pointer ;
		font-weight : normal ;
		line-height : 20px ;
		outline : none ;
		text-decoration : none ;
		box-sizing : border-box ;
		word-break : break-word ;
		font-weight : bold ;
		letter-spacing : 0.5px ;
		overflow : hidden ;
	}

	section.header_navbar_container_menu_list_element_body{
		transition : all 250ms ;
		width : auto ;
		width : auto ;
		position : relative ;
		left : auto ;
		padding-top : 0px ;
		padding-right : 20px ;
		padding-left : 20px ;
		background-color: transparent ;
	    border-right: 0;
	    border-left: 0;
	    border-radius: 3px;
	    list-style : none ;
	    font-size : 15px ;
	    background-clip: padding-box;
	    line-height : 1.25 ;
	    padding-bottom : 20px ;
	    opacity : 1 !important ;
	    visibility : visible !important ;
	    transform : scaleY( 1 ) !important ;
	    transform-origin : 0 0 ;
	}

	ul.header_navbar_container_menu_list_element_body_list_element_body{
		white-space : nowrap ;
		margin : 0 ;
		padding : 0 ;
		list-style : none ;
	}

	li.header_navbar_container_menu_list_element_body_list_element{
		margin : 0 ;
		display : inline-block ;
		list-style : none ;
		box-sizing : border-box ;
		white-space : nowrap ;
		padding : 0 ;
		margin-left : -20px ;
	}

	span.header_navbar_container_menu_list_element_body_list_element_title{
		color : #fff ;
		font-weight : bold ;
		font-size : 20px ;
		line-height : 26px ;
		white-space : normal ;
		display : block ;
		margin-bottom : 10px ;
		padding-left : 0px ;
	}

	ul.header_navbar_container_menu_list_element_body_list_element_body{
		padding : 0 ;
		margin : 0 ;
		list-style : none ;
		line-height : 1.25 ;
		box-sizing : border-box ;
		white-space : nowrap ;
		overflow-y : scroll ;
		overflow-x : hidden ;
		max-height : 300px ;
		word-break : break-word ;
	}

	ul#listLangues,
	ul#moreInfo{
		overflow : hidden ;
	}

	a.pays_link,
	a.header_navbar_container_menu_list_element_body_list_element_body_li_a{
		font-size : 16px ;
		color : #fff ;
		padding : 5px 0px ;
		display : block ;
		line-height : 19px ;
		height : auto ;
		outline : none ;
	}

	li.pays,
	li.header_navbar_container_menu_list_element_body_list_element_body_li{
		width : 100% ;
		white-space : initial ;
		border-bottom : 1px solid rgba( 255 , 255 , 255 , 0.05 ) ;
		margin-bottom : 10px ;
		transition : all 250ms ;
	}

	li.pays:hover,
	li.header_navbar_container_menu_list_element_body_list_element_body_li:hover{
		background-color : rgba( 255 , 255 , 255 , 0.09 ) ;
	}

	span.pays_title{
		letter-spacing : 1px ;
		font-size : 15px ;
	}

	a.pays_link{
		
	}

	img.pays_img{
		width : 20px ;
		max-height : 20px ;
		margin-left : 10px ;
		margin-right : 2px ;
	}
}

@media( max-width : 300px ){
	img.header_navbar_container_logo_link_img{
		max-width : 100px ;
		margin-top : -2px ;
	}
}